.table_row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  overflow: hidden;
}
.table_row div {
  border: 2px solid grey;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: hidden;
  background-color: white;
}
.table_row :nth-child(1) {
  width: 4%;
}
.table_row :nth-child(2),
.table_row :nth-child(3),
.table_row :nth-child(4),
.table_row :nth-child(5) {
  width: 18%;
}
.table_row :nth-child(6),
.table_row :nth-child(7),
.table_row :nth-child(8) {
  width: 8%;
}
.table__data-container {
  padding:10px;
  background-color: grey;
}
